---
import Layout from '../../layouts/Layout.astro';
import NavigationFilter from "../../components/NavigationFilter.astro";
---

<Layout title="スタジオジブリ" description="Recopilación from Studio Ghibli">
    <NavigationFilter underLine="people" />
   <h1>People Ghibli</h1>
</Layout>
